/*TABLET*/
@media screen and (min-width: 768px){
    .contenitore{
        width: 100%;
        margin: 0 auto;
    }
    /* sezione 2 */
    .col-di5{
        width: calc(100% / 3 );
    }
    .colonna-larga{
        width: calc(100% / 3 *2);
    }
    /* sezione 4 */
    .col-di6{
        width: 50%;
    }
    /* sezione 6 */
    .col-di2-larga{
        width: 80%;
    }
    .col-di2-stretta{
        width: 20%;
    }
    
}

/*DESKTOP*/
@media screen and (min-width: 992px){
    .contenitore{
        width: 80%;
        margin: 0 auto;
    }
    .contenitore-icona{
        display: none;
    }
    nav{
        display: block;
    }
    /* sezione 3 */
    .col-di2{
        width: 50%;
    } 
    /* sezione 5 */
    .col-di6{
        width: calc(100% / 3);
    } 
}

/* LARGE DESKTOP */
@media screen and (min-width: 1200px){
    .contenitore{
        width: 992px;
        margin: 0 auto;
    }
    /* sezione 2 */
    .col-di5{
        width: calc(100% / 5 - (1em / 5));
    }
    /* sezione 5 */
    .col-di6{
        width: calc(100% / 6);
    } 
}