/*TABLET*/
@media screen and (min-width: 768px){
    .contenitore{
        width: 100%;
        margin: 0 auto;
    }
    .col-di5{
        width: calc(100% / 3 );
    }
    .colonna-larga{
        width: calc(100% / 3 *2);
    }
    
}

/*DESKTOP*/
@media screen and (min-width: 992px){
    .contenitore{
        width: 80%;
        margin: 0 auto;
    }
    .contenitore-icona{
        display: none;
    }
    nav{
        display: block;
    }
    .col-di2{
        width: calc(100% / 2);
    }  
}

/* LARGE DESKTOP */
@media screen and (min-width: 1200px){
    .contenitore{
        width: 992px;
        margin: 0 auto;
    }
    .col-di5{
        width: calc(100% / 5 - (1em / 5));
    }
}