/*TABLET*/
@media screen and (min-width: 768px){
    .contenitore{
        width: 95%;
    }
    .col{
        width: calc(100% / 3 - (1em / 3));
    }
    .colonna-larga{
        width: calc((100% / 3 - (1em / 3))*2);
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px){
    .contenitore{
        width: 80%;
        margin: 0 auto;
    }
    .contenitore-icona{
        display: none;
    }
    nav{
        display: block;
    }
}

/* LARGE DESKTOP */
@media screen and (min-width: 1200px){
    .contenitore{
        width: 1200px;
        margin: 0 auto;
    }
}