/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
body{
    background-color: white;
    font-family: 'PT Sans', sans-serif;
}
a{
    text-decoration: none;
}

/* UTILITY */
.padding-verticale-05{
    padding: 0.5em 0em;
}
.padding-verticale-1{
    padding: 1em 0em;
}
.padding-verticale-2{
    padding: 2em 0em;
}
.padding-verticale-4{
    padding: 4em 0em;
}
.padding-largo{
    padding-top: 8em;
    padding-bottom: 4em;
}

/* COMUNE */
.contenitore{
    width: 100%;
    margin: 0 auto;
}
i{
    color: white;
    font-size: 2rem;
}
.bottone{
    color: black;
    background-color: white;
    padding: 0.3em 1em;
    border-radius: 20px;
}
.bottone-blu{
    background-color: #0284fd;
    color: white;
    padding: 0.5em 2em;
    font-size: 1.5rem;
}
.bottone i{
    font-size: 1.2rem;
    padding-right: 0.5em;
}

/* TIPOGRAFIA */
h1{
    color:#0284fd;
    padding: 1em 0em;
}
h2{
    color: #0284fd;
}
p{
    font-size: 1.2rem;
    padding-bottom: 1.5em;
}
/* Sezione 2 */
.sezione2 h2{
    color: white;
    padding: 2em 1em;
}
.sezione2 p{
    color: white;
    padding: 1em;
}
.sezione2 .carta h2{
    color: black;
    padding: 1em 1em;
}
.sezione2 .carta p{
    color: black;
}

/* HEADER */
header{
    padding: 0em 1em;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    line-height: 80px;
    background-color: #0284fd;
}
header .contenitore{
    display: flex;
    justify-content: space-between;
}
header img{
    vertical-align: middle;
}
nav a{
    color: white;
    font-size: 1.3rem;
}
nav{
    display: none;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    padding-left: 2rem;
}
.hamburger{
    vertical-align: middle;
}

/* MAIN */

/* GRIGLIA */
.riga{
    display: flex;
    flex-wrap: wrap;
}
.col-di5{
    width: 100%;
    padding: 1em;
}
/* Carte */
.carta{
    background-color: #b5ddff;
    border-radius: 20px;
    text-align: center;
    padding: 1em;
}
.carta-larga{
    background-color: #b5ddff;
    border-radius: 5%;
    padding: 0em 2em;
}
.contenitore-immagine{
    padding-top: 2em;
    display: flex;
    flex-direction: column-reverse;
}
.icona-grande{
    font-size: 5rem;
    color: #0284fd;
}
.contenitore-icona-2{
    text-align: center;
}


/*SEZIONE 2*/
.sezione2{
    background-color: #9792e4;
}
.col-di2{
    width: 100%;
    padding: 1em;
}
.sezione2 .carta{
    background-color: white;
}
.bottone-cerchio-viola{
    background-color: #9792e4;
}
.bottone-cerchio-viola {
    color: black;
    padding: 0.5em;
    border-radius: 50%;
}
/*SEZIONE 3*/
.sezione3 h2{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 1em;
}
.sezione3 h3{
    color: #9792e4;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1em;
}
.sezione3 p{
    text-align: center;
    font-size: 1rem;
}
.sezione3 .contenitore{
    padding: 0em 3em;
}
.sezione3 .carta{
    background-color: #9792e4;
    color: white;
    margin-bottom: 2em;
}
.sezione3 .carta img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: inline-block;
    border-radius: 50%;
}


/* SEZIONE BENEFITS */
.sezione-benefits{
    background-color: #9792e4;
}
.col-di6{
    width: 100%;
    padding: 1em;
}
.sezione-benefits .carta{
    background-color: white;
    text-align: inherit;
    padding: 2em;
    margin-bottom: 1em;
}
.sezione-benefits h2{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1em;
}
.sezione-benefits h3{
    color: #9792e4;
    font-size: 3rem;
}
.sezione-benefits h4{
    color: #9792e4;
    font-size: 2rem;
    padding: 0.5em 0em;
}
.sezione-benefits p{
    color: gray;
    font-size: 1rem;
    padding: 1em 0em;
}
.sezione-benefits .bottone-cerchio-viola{
    color: white;
    padding: 0.5em 2em;
    border-radius: 30px;
}

/* SEZIONE 5 */
.col-di2-larga{
    width: 100%;
    padding: 1em;

    /* debug */
    border: 2px solid orange;
}
.col-di2-stretta{
    width: 100%;
    padding: 1em;

    /* debug */
    border: 2px solid orange;
}

/* SEZIONE CALL TO ACTION */
.call-to-action{
    background-color: #9792e4;
}
.contenitore-piccolo-centrato{
    width: 100%;
    margin: 0 auto;
    /* debug */
    height: 500px;
    border: 2px solid orange;
}

/* FOOTER */
footer{
    background-color: #333333;
}
.box{
    height: 100px;
    border: 2px solid orange;
}